<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/login.css">
    <script>
        async function handleLogin(event) {
            event.preventDefault();

            const username = document.querySelector('input[name="username"]').value;
            const password = document.querySelector('input[name="password"]').value;

            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({ username, password })
                });

                if (response.ok) {
                    window.location.href = "/";
                } else {
                    const errorData = await response.json();
                    alert(errorData.detail);
                }
            } catch (error) {
                console.error("Ошибка при попытке входа:", error);
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="title-container">
            <div class="title">Sign In</div>
            <a href="/register" class="home-button">Sign up</a>
        </div>
        <form onsubmit="handleLogin(event)">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="button-container">
                <a href="./" class="custom-button icon-button">
                    <img src="https://img.icons8.com/?size=100&id=1iF9PyJ2Thzo&format=png&color=FFFFFF" alt="Icon" class="icon-image">
                </a>
                <a href="#" onclick="handleLogin(event)" class="custom-button submit-button">></a>
            </div>
        </form>
    </div>
</body>
</html>
