<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Camera Portal</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/main.css">
  <script>
    async function checkSession() {
      const response = await fetch('/session_status');
      const data = await response.json();
      const loginLink = document.getElementById('login-link');
      const usernameElement = document.getElementById('username');
      const container = document.querySelector('.container');

      if (data.authenticated) {
        loginLink.href = "/logout";
        loginLink.textContent = "Log out";
        usernameElement.textContent = data.username;

        loginLink.addEventListener('click', (e) => {
          e.preventDefault();
          container.classList.add('fade-out');
          setTimeout(() => {
            window.location.href = loginLink.href;
          }, 1000);
        });
      } else {
        loginLink.href = "/login";
        loginLink.textContent = "Log in";
        usernameElement.textContent = "Guest";
      }
    }

    document.addEventListener('DOMContentLoaded', checkSession);
  </script>
</head>
<body>
  <div class="container">
    <div class="title-container">
      <div class="title">Camera Portal</div>
      <div class="user-info">
        <div id="username" class="username">Guest</div>
        <a id="login-link" class="login-link" href="#">Log in</a>
      </div>
    </div>
    <textarea class="text-field" readonly>Camera Portal is a user-friendly platform designed for ONVIF-compatible cameras, providing a seamless way to manage and view your camera streams. It features an elegant and responsive interface, complete with a visually appealing video player to enhance your viewing experience. Users can easily register and manage their accounts, ensuring secure access to camera feeds. With well-crafted design elements and a focus on usability, this portal offers both a beautiful and efficient solution for camera monitoring.</textarea>
    <div class="bottom-container">
      <div class="left-buttons">
        <a href="./video" class="round-button">
          <img src="https://img.icons8.com/?size=100&id=86821&format=png&color=FFFFFF" alt="Gallery Icon">
        </a>
      </div>
      <div class="right-buttons">
        <a href="./onvif" class="round-button">
          <img src="https://img.icons8.com/?size=100&id=104057&format=png&color=FFFFFF" alt="Camera Icon">
        </a>
      </div>
    </div>
  </div>
</body>
</html>
