<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONVIF Stream</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/onvif.css">
</head>
<body>
    <div class="video-container">
        <img class="video-stream" src="/onvif_source" alt="ONVIF Stream" onerror="showError()">
        <a href="./" class="home-button">
            <img src="https://img.icons8.com/?size=100&id=1iF9PyJ2Thzo&format=png&color=FFFFFF" alt="Home Icon">
        </a>
        <div id="error-message" class="error-message" style="display: none;">
            <h2>Error 501: Service Not Implemented</h2>
        </div>
    </div>

    <script>
        function showError() {
            const img = document.querySelector('.video-stream');
            const errorMessage = document.getElementById('error-message');
            img.style.display = 'none';
            errorMessage.style.display = 'flex';
        }
    </script>
</body>
</html>
